.clima-recomendacion {
    background-color: $colorPrimario;
    font-size: 22px;
    padding-top: 5px;
    padding-bottom: 0px;
    font-family: 'Nerko One', cursive;
    text-align: center;
    color:rgb(114, 111, 98);
    
}
