.colecciones-coleccion {
    background-color: $colorPrimario;
    box-shadow: 1px 1px 3px black;
}

.colecciones-encargo {
    @include precio ($colorPrimario, $colorMenu);
    margin-right: 10px;

    @media (max-width: 1024px) {
        margin-right: 3px;
    }

    :hover {
        scale: 1.2;
        transition: 1.5s;
    }

    :active {
        padding: 5px;
        transition: 0.1s;
    }

}

.dropdown-item:hover {
    background-color: $colorPrimario;
}