.colecciones-coleccion {
    background-color: $colorPrimario;
    box-shadow: 1px 1px 3px black;
}

.colecciones-encargo {
    @include precio ($colorPrimario, $colorMenu)
}

.dropdown-item:hover {
    background-color: $colorPrimario;
}