.colecciones-coleccion {
    background-color: $colorPrimario;
    box-shadow: 1px 1px 3px black;
}

.colecciones-encargo {
    @include precio ($colorPrimario, $colorMenu);
    margin-right: 10px;

    @media (max-width: 1024px) {
        margin-right: 3px;
    }
}

.dropdown-item:hover {
    background-color: $colorPrimario;
}