@media (max-width: 1024px) {
    .hamburguesa-ico {
        z-index: 9999;
        position: absolute;
        width: 30px;
        left: 10px;
        top:10px;
        
    }   
     .hamburguesa-ico-active {
        position: fixed;
    }
}
