.inicio-subtitulo-texto {
    font-family: 'Nerko One', cursive;
    font-size: 45px;
    text-align: center;
    padding: 35px;
    color: antiquewhite;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
    text-shadow: 1px 1px 5px black;

    @media (max-width: 1024px) {
        font-size: 25px;
        padding: 15px;
    }
}

.inicio-categoria-img {
    height: 100%;
    width: 100%;
    max-width: 700px;
    box-shadow: 2px 2px 15px rgba(250, 235, 215, 0.297);

    .gorros {
        padding: 15px;
    }

    @media (max-width: 1024px) {
        padding: 10px;
    }
    
}

.inicio-categoria-div {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    min-width: 285px;
    justify-content: center;
    padding-top: 35px;
    background-color: antiquewhite;

    @media (max-width: 1024px) {
        padding: 5px;
    }
}
