@mixin precio ($background-color, $color) {
    background-color: $background-color;
    padding: 10px;
    font-size: 18px;
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
    color: $color;
    border: none;
    margin-bottom: 8px;
}