.tienda-online-text {
    @extend %titulos;
    color: $colorPrimario;
}

.tienda-online-precio {
    @include precio(rgb(92, 92, 91), $colorPrimario);
    margin-left: 150px;
    @media (max-width: 1400px) {
        margin-left: 80px;
    }
    @media (max-width: 1024px) {
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (max-width: 575px) {
        margin-left: 150px;
    }
    @media (max-width: 425px) {
        margin-left: 70px;
    }
}

.agregar-carrito {
    width: 30px;
    height: 30px;
}